<h2>Lista de Usuários</h2>
<div class="table-responsive"></div>
    <table class="table table-sm bg-dark text-white text-start col-6">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Senha</th>
                <th scope="col">Nome</th>
                <th scope="col">Pergunta</th>
                <th scope="col">Resposta</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
        {{#each usuarios}}
        <tr>
            <th scope="row">{{login}}</th>
            <td>{{senha}}</td>
            <td>{{nome}}</td>
            <td>{{pergunta_secreta}}</td>
            <td>{{resposta_pergunta}}</td>
            <td>{{tipo_descricao}}</td>
            <td><a href="usuarioEdit/{{_id}}"> <button class="btn btn-secondary btn-sm">Editar</button> </a></td>
            <td><a href="usuarioDelete/{{_id}}"> <button class="btn btn-secondary btn-sm">Deletar</button> </a></td>
        {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>
