<h2>Ranking Geral</h2>
<div class="table-responsive"></div>
    <table class="table table-sm bg-dark text-white text-start col-6">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Evento</th>
                <th scope="col">Apresentação</th>
                <th scope="col">Nota/Média</th>
                <th scope="col">Votos Totais</th>
            </tr>
        </thead>
        <tbody>
            {{#each ranking}}
            <tr>
                <th scope="row">{{descricao_evento}}</th>
                <td>{{descricao_apresentacao}}</td>
                <td>{{media_final}}</td>
                <td>{{votos}}</td>
            {{/each}}
        </tbody>
    </table>
    <div class="alert alert-dark col-6" role="alert">Total de Registros: {{quantidade}}</div>
    <br>
    <a href="/home" class="list-group-item list-group-item-action list-group-item-secondary col-1">Voltar</a>
</div>
