<h1> Listar Receitas </h1>
<table  class="table table-striped">
<thead  class="thead-dark">
    <tr>
        <th scope="col"> Nome </th>
        <th scope="col"> Ingredientes</th>
        <th scope="col"> Modo de preparo</th>
        <th scope="col"> Imagem</th>
        <th scope="col"> Editar</th>
        <th scope="col"> Deletar</th>
    </tr>
</thead>
<tbody>
    {{#each receitas}}
    <tr>
        <th scope="row">{{nome}}</th>
        <td>{{ingredientes}}</td>
        <td>{{preparo}}</td>
        <td>
            <image width="50px" height="50px" src="uploads/{{imagem}}">
        </td>
        <td><a href="receitaEdit/{{_id}}"> <button class="btn btn-dark">Editar</button> </a></td>
        <td><a href="receitaDelete/{{_id}}"> <button class="btn btn-dark">Deletar</button> </a></td>
    </tr>
    {{/each}}
</tbody>
</table>

<div class="container">
    <div class="row">
        {{#each receitas}}
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" height="150px" src="uploads/{{imagem}}">
                <div class="card-body">
                    <h5 class="card-title">{{nome}}</h5>
                    <a href="receitaEdit/{{_id}}"><button class="btn btn-dark">Editar</button></a>
                    <a href="receitaDelete/{{_id}}"> <button class="btn btn-dark">Deletar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>